.main {
  width: 100%;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 150px;
}
.hero-section__title {
  position: relative;
  font-size: 26px;
  text-align: center;
  font-size: 37px;
  color: var(--light-blue);
  margin-bottom: 25px;
  font-weight: var(--font-weight-1);
  opacity: 0;
  animation: fadeUp 1s ease forwards;
}

.hero-section__title::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -8px;
  transform: translateX(-50%);
  height: 1px;
  background-color: var(--light-blue);
  width: 0;
  transition: width 2.5s ease;
}

.hero-section__title.loaded::after {
  width: 80%;
}

.hero-section_shiny-container {
  opacity: 0;
  animation: fadeUp 1s ease forwards;
  margin-bottom: 5px;
}

.hero-section_shiny-container .hero-section__subtitle {
  font-weight: var(--font-weight-6);
  font-size: var(--font-size-5);
  text-align: center;
}

.cta-section {
  display: flex;
  justify-content: center;
  width: 70%;
  padding: 0.5rem 0;
  gap: 0.5rem;
}

.hero-icon {
  width: 14px;
  color: var(--light-blue);
  transition: all 300ms ease;
}

.hero-btn {
  width: 100%;
  display: flex;
  padding: 0.5rem 0.1rem;
  font-size: var(--font-size-6);
  border: solid 1px var(--light-blue);
  background-color: transparent;
  color: var(--light-blue);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  gap: 0.3rem;
  cursor: pointer;
  opacity: 0;
  animation: fadeUp 1s ease forwards;
  transition: box-shadow 300ms ease;
}
.hero-btn:hover {
  box-shadow: var(--button-hover);
}
@media (min-width: 768px) {
  .hero-section {
    margin-top: 9rem;
    
  }

  .hero-section__title {
    font-size: 60px;
    margin-bottom: 30px;
  }

  .hero-section_shiny-container .hero-section__subtitle {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .hero-btn {
    max-width: 300px;
    font-size: var(--font-size-4);
    padding: 0.7rem 0.8rem;
  }

  .hero-icon {
    width: 18px;
  }
}
