/* ----------- BASE (Mobile First) ----------- */
.map-section {
  width: 100vw;
  margin: 18rem 0 80px 0;
}
.map-section h2 {
  font-weight: var(--font-weight-1);
  color: var(--light-blue);
  font-size: 39px;
  text-align: center;
  margin-bottom: 3rem;
}
.map-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  animation: fadeUp 1s ease forwards;
}
.map-menu {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.map-menu .dropdown-container {
  position: relative;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0.5rem;
  gap: 0.5rem;
  justify-content: space-around;
}

.dropdown-container .dropdown-item {
  flex: 1 1 22%;
  min-width: 100px;
  width: 100%;
  max-width: 100%;
  min-height: 50px;
  box-sizing: border-box;
  background: #101014;
  color: #fff;
  border-radius: 0.5rem;
  margin-top: 0.25rem;
  padding: 0.6rem .8rem;
  cursor: pointer;
  transition: background 180ms, color 180ms;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-container .dropdown-item:hover,
.dropdown-container .dropdown-item:focus {
  background: #2b2b36;
  color: var(--light-blue);
}
.dropdown-container .dropdown-item.active {
  background: #101014;
  color: var(--light-blue);
  font-weight: 600;
  box-shadow: 0 2px 8px rgba(0,0,0,0.12);
}
.dropdown-container .dropdown-item h4 {
  margin: 0;
  font-size: .8rem;
  font-weight: 500;
}
.map-content {
  width: 352px;
  margin-top: 0;
  position: relative;
  flex: 2 1 400px;
}
.map-image {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin: 0 auto;
}

/* ----------- CAVE BUTTONS ----------- */
.cave-button {
  position: absolute;
  width: .7rem;
  height: .7rem;
  border-radius: 50%;
  background-color: #00FFD5;
  box-shadow: 0 0 16px #00FFD5;
  animation: pulse 1.2s infinite;
  z-index: 2;
  cursor: pointer;
}
.cave-button.button-active {
  background-color: #00FFD5;
  box-shadow:
    0 0 24px #00FFD5;
  outline: 2px solid #00FFD5;
  outline-offset: 2px;
  animation: none;
  transition:
    background 0.2s,
    box-shadow 0.2s,
    border 0.2s,
    outline 0.2s;
  z-index: 3;
  scale: 1.18;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 8px #00FFD5, 0 0 0px #00FFD5;
    transform: scale(1);
  }
  50% {
    box-shadow: 0 0 24px #00FFD5, 0 0 16px #00FFD5;
    transform: scale(1.15);
  }
  100% {
    box-shadow: 0 0 8px #00FFD5, 0 0 0px #00FFD5;
    transform: scale(1);
  }
}

/* ----------- MAP BUTTON POSITIONS ----------- */

.cave-theIsland-1 { top: 60px; left: 50px; }
.cave-theIsland-2 { top: 300px; left: 200px; }
.cave-theCenter-1 { top: 80px; left: 220px; }
.cave-theCenter-2 { top: 300px; left: 150px; }
.cave-scorchedEarth-1 { top: 120px; left: 80px; }
.cave-scorchedEarth-2 { top: 280px; left: 220px; }
.cave-aberration-1 { top: 60px; left: 180px; }
.cave-aberration-2 { top: 250px; left: 90px; }
.cave-extinction-1 { top: 140px; left: 60px; }
.cave-extinction-2 { top: 320px; left: 210px; }
.cave-genesisPart1-1 { top: 90px; left: 160px; }
.cave-genesisPart1-2 { top: 270px; left: 120px; }
.cave-genesisPart2-1 { top: 110px; left: 200px; }
.cave-genesisPart2-2 { top: 320px; left: 60px; }
.cave-crystalIsles-1 { top: 70px; left: 140px; }
.cave-crystalIsles-2 { top: 260px; left: 180px; }
.cave-lostIsland-1 { top: 130px; left: 100px; }
.cave-lostIsland-2 { top: 310px; left: 230px; }
.cave-ragnarok-1 { top: 80px; left: 200px; }
.cave-ragnarok-2 { top: 290px; left: 60px; }
.cave-valguero-1 { top: 100px; left: 170px; }
.cave-valguero-2 { top: 270px; left: 110px; }
.cave-fjordur-1 { top: 120px; left: 90px; }
.cave-fjordur-2 { top: 320px; left: 200px; }


/* ----------- Responsive: Tablet ----------- */
@media (min-width: 600px) {
  .map-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }
  .map-menu {
    max-width: 550px;
  }
  .dropdown-container .dropdown-item {
    min-height: 80px;
  }
  .dropdown-container .dropdown-item h4{
    font-size: 1rem;
  }
  .map-content {
    width: 550px;
    flex: none;
  }
  .map-image {
    width: 100%;
  }
  .map-section h2 {
    font-size: 4rem;
  }
  .cave-theIsland-1 { top: 85px; left: 71px; }     
  .cave-theIsland-2 { top: 426px; left: 284px; }  
  .cave-theCenter-1 { top: 114px; left: 312px; }   
  .cave-theCenter-2 { top: 426px; left: 213px; }
   .cave-scorchedEarth-1 { top: 170px; left: 113px; }
  .cave-scorchedEarth-2 { top: 397px; left: 312px; }
  .cave-aberration-1 { top: 85px; left: 255px; }
  .cave-aberration-2 { top: 355px; left: 128px; }
  .cave-extinction-1 { top: 199px; left: 85px; }
  .cave-extinction-2 { top: 454px; left: 298px; }
  .cave-genesisPart1-1 { top: 128px; left: 226px; }
  .cave-genesisPart1-2 { top: 384px; left: 171px; }
  .cave-genesisPart2-1 { top: 156px; left: 283px; }
  .cave-genesisPart2-2 { top: 454px; left: 85px; }
  .cave-crystalIsles-1 { top: 99px; left: 198px; }
  .cave-crystalIsles-2 { top: 368px; left: 255px; }
  .cave-lostIsland-1 { top: 183px; left: 142px; }
  .cave-lostIsland-2 { top: 437px; left: 325px; }
  .cave-ragnarok-1 { top: 113px; left: 283px; }
  .cave-ragnarok-2 { top: 411px; left: 85px; }
  .cave-valguero-1 { top: 142px; left: 241px; }
  .cave-valguero-2 { top: 384px; left: 156px; }
  .cave-fjordur-1 { top: 170px; left: 128px; }
  .cave-fjordur-2 { top: 454px; left: 283px; }
}

/* ----------- Responsive: Desktop ----------- */
@media (min-width: 1024px) {
  .map-container {
  flex-direction: column;
  }
  .map-menu {
    max-width: 900px;
  }
  .map-content {
    width: 900px;
    flex: none;
  }
  .map-image {
    width: 100%;
  }
  .dropdown-container .dropdown-item h4{
    font-size: 1.2rem;
  }
    .map-section h2 {
    font-size: 4rem;
  }
}
@media (min-width: 1900px) {
  .map-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6rem;
  padding: 8rem 0rem; 
  align-items: center;
  justify-content: center;
}
  .map-menu {
    height: 100%;
    width: 100%;
    min-width: 200px;
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .map-menu .dropdown-container {
    max-width: 100%;
    overflow: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    top: 0;
    margin-top: 0;
  }
  .dropdown-container .dropdown-item {
    min-height: 50px;
    justify-content: flex-start;
  }
  .dropdown-container .dropdown-item h4 {
    font-size: 1rem;
  }
   .map-content {
    position: relative;
    width: 700px;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    display: block; 
    align-content: top;
  }
  .map-image {
    width: 100%;
    border-radius: 0.5rem;
    display: block;
    margin: 0 auto;
  }
  .cave-theIsland-1 { top: 85px; left: 71px; }
  .cave-theIsland-2 { top: 40px; left: 284px; }
  .cave-theCenter-1 { top: 114px; left: 312px; }
  .cave-theCenter-2 { top: 426px; left: 213px; }
  .cave-scorchedEarth-1 { top: 154px; left: 103px; }
  .cave-scorchedEarth-2 { top: 373px; left: 293px; }
  .cave-aberration-1 { top: 77px; left: 239px; }
  .cave-aberration-2 { top: 333px; left: 120px; }
  .cave-extinction-1 { top: 187px; left: 80px; }
  .cave-extinction-2 { top: 427px; left: 280px; }
  .cave-genesisPart1-1 { top: 121px; left: 213px; }
  .cave-genesisPart1-2 { top: 362px; left: 161px; }
  .cave-genesisPart2-1 { top: 143px; left: 267px; }
  .cave-genesisPart2-2 { top: 427px; left: 80px; }
  .cave-crystalIsles-1 { top: 91px; left: 187px; }
  .cave-crystalIsles-2 { top: 346px; left: 239px; }
  .cave-lostIsland-1 { top: 170px; left: 134px; }
  .cave-lostIsland-2 { top: 414px; left: 305px; }
  .cave-ragnarok-1 { top: 103px; left: 267px; }
  .cave-ragnarok-2 { top: 387px; left: 80px; }
  .cave-valguero-1 { top: 134px; left: 228px; }
  .cave-valguero-2 { top: 362px; left: 143px; }
  .cave-fjordur-1 { top: 154px; left: 120px; }
  .cave-fjordur-2 { top: 427px; left: 267px; }
  
 
}
 .map-info-container {
    width: 450px;
    max-width: 450px;
    height: 100%;
    max-height: 736px;
    display: flex;
    background-color: #101014;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    justify-self: center;
    align-self: flex-start;
    border-radius: 1rem;
    border: 3px solid #e7e7e759;
    box-shadow: 0 0 5px #e7e7e759;
    margin-right: 2rem;
}

.cave-info-block {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #101014;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    justify-self: center;
    align-self: flex-start;
    border-radius: 1rem;
    padding: 2rem 0;
    
}
.info-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 130%;
  justify-content: flex-start;
}
.info-row-1 {
  display: flex;
  flex-direction: column;
 justify-content: space-around;
 gap: 1.5rem;
}
.location-header, .cave-header {
  font-size: 1.5rem;
  font-weight: 600;
}
.video-container {
  margin: 0 auto 0 auto;
  width: 100%;
}
.video-container iframe {
  border-radius: 1rem;
  border: 2px solid #00ffd5;
  box-shadow: 0 0 16px #00ffd5;
}