.features-section {
  padding-top: 15rem;
  opacity: 0;
  animation: fadeUp 1s ease forwards;
}

h2.features-title {
  font-weight: var(--font-weight-1);
  color: var(--light-blue);
  font-size: 39px;
  text-align: center;
  margin-bottom: 40px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: auto;
  gap: 20px;
  justify-items: center;
  width: 100%;
}

.card-container .spotlight-card {
  padding: 0;
  width: 100%;
  max-width: 330px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px 20px;
}

.card-container .card-icon {
  width: 24px;
}

.card-container span {
  padding-top: 20px;
  font-size: var(--font-size-4);
  color: var(--font-color-3);
}

@media (min-width: 768px) {
  .features-section {
    padding-top: 19rem;
  }
  h2.features-title {
    font-size: 3.5rem;
    margin-bottom: 60px;
  }

  .card-container .card-icon {
    width: 32px;
  }

  .card-container span {
    font-size: var(--font-size-3);
  }

}
@media (min-width: 1170px) {
  .spotlight-card:nth-child(5) {
    grid-column: 2;
  }
  .card-spotlight {
    max-width: 500px !important;
    padding: 3rem 2rem !important;
  }
}
@media (min-width: 1440px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
