.footer {
  background: linear-gradient(0deg, #161616, #121212);

  color: #ffffff;
  padding: 40px 20px 20px;
  font-size: 14px;
  width: 100%;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.footer-logo {
  text-align: center;
}

.footer-logo img {
  max-width: 120px;
  height: auto;
  margin-bottom: 10px;
}

.footer-logo p {
  font-size: 14px;
  color: #aaa;
}

.footer-columns {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-column a {
  color: #04ECF2;
  text-decoration: none;
  transition: text-shadow 250ms;
}

.footer-column a:hover {
  text-shadow: var(--button-hover);
}

.footer-divider {
  border: none;
  border-top: 1px solid #333;
  margin: 32px 0 20px;
  width: 100%;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
}

.footer-social {
  display: flex;
  gap: 20px;
}

.footer-social a {
  font-size: 20px;
  color: #ffffff;
  transition: color 250ms ease;
}

.footer-social a:hover {
  color: #04ECF2;
}

.footer-madeby {
  font-size: 13px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.footer-madeby a {
  color: #04ECF2;
  text-decoration: none;
  font-weight: 500;
  transition: text-shadow 250ms;
}

.footer-madeby a:hover {
  text-shadow: var(--button-hover);
}

.footer-madeby .plain-email {
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.inline-icon {
  vertical-align: middle;
  margin-right: 4px;
  color: #ffffff;
}


/* Responsive para tablet */
@media (min-width: 768px) {
  .footer-columns {
    flex-direction: row;
    gap: 48px;
  }

  .footer-madeby {
    flex-direction: row;
  }
}

/* Responsive para desktop */
@media (min-width: 1024px) {
  .footer-top {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    max-width: 1000px;
    margin: 0 auto;
  }

  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
  }

  .footer-madeby {
    justify-content: flex-end;
  }
  .footer-columns {
    padding: 40px 50px 0 0;
    gap: 150px;
    font-size: 1rem;
  }
  .footer-columns .footer-column {
    gap: 20px;
  }
  .footer-logo img {
    max-width: 150px;
  }
}
