.parallax-slider-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin-top: 50px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  color: #fff;
  box-sizing: border-box;
  padding: 16px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-height: calc(100dvh - 80px);
}

.swiper-slide:last-child {
  padding-bottom: 60px;
  gap: 0;
}

.parallax-bg {
  position: absolute;
  top: 0;
  width: 110%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  opacity: .5;
}

@media (max-width: 600px) {
  .parallax-bg {
    background-image: url("../../assets/LunarFerox.png") !important;
  }
}

.bundle-info {
  width: 100%;
  margin-top: 15px;
}

.bundle-info li {
  position: relative;
  padding-left: 1.5rem;
  margin-bottom: 0.3rem;
  list-style: none;
  text-align: left;
}

.bundle-info li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.5rem;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: currentColor;
  box-shadow: 0 0 8px currentColor;
}

/* THEME COLORS */
.swiper-slide .bundle-info,
.swiper-slide .bundle-price,
.swiper-slide .title {
  color: var(--light-blue);
}

.title {
  font-size: 3.5rem;
}

.purple-theme .bundle-info,
.purple-theme .bundle-price,
.purple-theme .title {
  color: #c08bfa;
}

.blue-theme .bundle-info,
.blue-theme .bundle-price,
.blue-theme .title {
  color: #00f7fd;
}

.dark-purple-theme .bundle-info,
.dark-purple-theme .bundle-price,
.dark-purple-theme .title {
  color: #9d70ff;
}

.reddish-theme .bundle-info,
.reddish-theme .bundle-price,
.reddish-theme .title {
  color: #ff4e4e;
}

.yellowish-theme .bundle-info,
.yellowish-theme .bundle-price,
.yellowish-theme .title {
  color: #ffe36e;
}

.dark-green-theme .bundle-info,
.dark-green-theme .bundle-price,
.dark-green-theme .title {
  color: #54ff9f;
}

/* TEXT SHADOWS */
.purple-theme .title {
  text-shadow: 0 0 8px #8f4fff, 0 0 16px #8f4fff, 0 0 25px rgba(192, 139, 250, 0.7), 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.blue-theme .title {
  text-shadow: 0 0 10px #00f7fd, 0 0 20px #00aaff, 0 0 30px rgba(0, 247, 253, 0.6), 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.dark-purple-theme .title {
  text-shadow: 0 0 10px #4b0082, 0 0 20px #7a00ff, 0 0 30px rgba(157, 112, 255, 0.6), 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.reddish-theme .title {
  text-shadow: 0 0 10px #ff0000, 0 0 20px #ff4e4e, 0 0 30px rgba(255, 78, 78, 0.5), 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.yellowish-theme .title {
  text-shadow: 0 0 10px #ffcc00, 0 0 20px #ffe36e, 0 0 30px rgba(255, 227, 110, 0.6), 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.dark-green-theme .title {
  text-shadow: 0 0 10px #54ff9f, 0 0 20px #38c36c, 0 0 30px rgba(84, 255, 159, 0.6), 2px 2px 10px rgba(0, 0, 0, 0.4);
}

/* BUTTONS */
.bundle-price {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 10px 0;
  transition: color 0.3s ease;
}

.swiper-slide .buy-button {
  display: flex;
  gap: .5rem;
  align-items: center;
  border-radius: 12px;
  padding: 1rem 1.9rem;
  font-size: 1.1rem;
  margin-top: 1rem;
  border: 1px solid var(--light-blue);
  background-color: transparent;
  color: var(--light-blue);
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: box-shadow 250ms ease;
}
.swiper-slide .buy-button:hover {
  box-shadow: var(--button-hover);
}
.buy-button .building-shop-icon {
  width: 22px;
}

/* TITULOS */
.swiper-slide .title-h1 {
  font-size: 2.2rem;
  font-weight: 900;
  letter-spacing: 1px;
  text-align: center;
  padding-bottom: 40px;
}

/* TEXTOS */
.swiper-slide .subtitle {
  font-size: 16px;
}

.swiper-slide .text {
  font-size: 13px;
  max-width: 95%;
  line-height: 1.4;
  text-align: center;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
  .parallax-bg {
    width: 100%;
    left: 0;
  }
  .parallax-slider-wrapper {
    min-width: 100%;
  }
  .swiper-slide {
    padding: 40px 40px;
  }
  .bundle-price {
    font-size: 1.5rem;
  }
  .swiper-slide .title {
    font-size: 4.5rem;
  }
  .swiper-slide .title-h1 {
    font-size: 3rem;
  }
  .bundle-info {
    margin-left: 5%;
  }
}

@media (min-width: 1024px) {
  .bundle-info {
    margin-left: 10%;
  }
  .swiper-slide .title {
    font-size: 4rem;
  }
}

@media (min-width: 2560px) {
  .bundle-info {
    margin-left: 15%;
    font-size: 2rem;
  }
  .bundle-price {
    font-size: 3rem;
  }
  .swiper-slide .buy-button {
    padding: 1rem 2rem;
    font-size: 2rem;
  }
  .swiper-slide .title,
  .swiper-slide .title-h1 {
    font-size: 9rem;
  }
}
