@import '@fontsource/montserrat';
@import '@fontsource/gugi';
@import '@fontsource/gemunu-libre';

:root {
  --navbar-bg-color: #1a1a1a;

  --light-blue: #00f7fd;
  --light-green: #00fe8c;
  --font-color-3: #ffffff;
  --font-color-4: #000000;

  --font-weight-1: 700;
  --font-weight-2: 500;

  --font-size-1: 1.125rem; /* 18px */
  --font-size-2: 1rem;     /* 16px */
  --font-size-3: 0.875rem; /* 14px */
  --font-size-4: 0.75rem;  /* 12px */
  --font-size-5: 0.625rem; /* 10px */
  --font-size-6: 0.5rem;   /* 8px */

  --font-family-1: 'Montserrat', sans-serif;
  --font-family-2: 'Gemunu Libre', sans-serif;
  --font-family-3: 'Gugi', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  font-family: var(--font-family-1);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #121212;
  color: var(--font-color-3);
  
}
@keyframes fadeUp {
  to {
    opacity: 1;
  }
}